.about {
  position: relative;
  width: 100%;
  padding: 0 0 128px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .home-about-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    opacity: 0.5;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 64px 0 128px;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .mission .container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }
}

@media screen and (min-width: 1050px) {
  .about {
    padding: 128px 0 256px;

    .home-about-logo {
      width: 340px;
    }
  
    .container {
      padding: 0 0 0 128px;
      gap: 96px;
      grid-template-columns: 1.2fr 1fr;
      align-items: center;
    }
  }

  .mission .container  {
    padding: 64px 64px 128px;
    gap: 96px;
  }
}
