.inside-banner {
  width: 100%;
  padding: 64px 0;

  h1 {
    position: relative;
    width: 100%;
    color: $darkGrey;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      width: 64px;
      height: 1px;
      background-color: $red;
      transform: translate3d(-50%, 0, 0);
    }
  }
}
