.header {
  width: 100%;
  padding: 1rem 0;
  z-index: 999;
  opacity: 0;
  transition: 1s opacity ease-out;

  &.animar {
    opacity: 1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-right {
  display: flex;
  gap: 32px;
}

.header-logo img {
  width: 130px;
}

@media screen and (min-width: 768px) {
  .header-logo img {
    width: 160px;
  }
}

@import './menu';
@import './bannerInside';
