.home-banner {
  width: 100%;
  padding: 16px 0 64px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

.home-banner-text {
  position: relative;

  .line {
    position: absolute;
    top: 160%;
    left: 0;
    width: 1px;
    height: 0;
    background-color: $red;
    transition: 1s height ease-in-out;
    
    &.animar {
      height: 240px;
    }
  }

  h1 {
    color: $darkGrey;
    width: 260px;
    font-size: 1.8rem;
    font-weight: bolder;
  }
}

.home-banner-buttons {
  display: flex;
  gap: 32px;
}

.home-banner-img {
  position: relative;
  width: 100%;

  .grey-box {
    position: absolute;
    top: 7%;
    right: 5%;
    width: 0%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
  }

  .orange-box {
    position: absolute;
    top: 0;
    right: 10%;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(-45deg, #FFECD2, #FCB69F);
    z-index: -1;
  }
  
  img {
    width: 90%;
    opacity: 0;
  }

  &.animar {
    .grey-box {
      animation: boxAnimation 1s ease-in-out forwards;
    }

    .orange-box {
      animation: boxAnimation 1s ease-in-out forwards;
      animation-delay: .8s;
    }

    img {
      animation: imageAnimation 1s ease-in-out forwards;
      animation-delay: 1.6s;
    }
  }
}

@media screen and (min-width: 768px) {
  .home-banner {
    padding: 64px 0;
  
    .container {
      display: grid;
      grid-template-columns: 330px 1fr;
      align-items: center;
      gap: 48px;
    }
  }

  .home-banner-text .line {
    top: calc(100% + 64px);
    
    &.animar {
      height: 220px;
    }
  }
}

@media screen and (min-width: 1050px) {
  .home-banner {
    width: 100%;
    height: calc(100vh - 140px);
    padding: 0;
    display: flex;
    align-items: center;
  
    .container {
      padding-left: 128px;
    }
  }

  .home-banner-text {  
    .line {
      position: absolute;
      top: 60%;
      left: -64px;
      width: 2px;
      
      &.animar {
        height: 460px;
      }
    }
  
    h1 {
      width: 240px;
      font-size: 3.5rem;
    }
  }

  .home-banner-buttons {
    margin-top: 32px;
  }
}

@keyframes boxAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 63%;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lineAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
