.our-reviews {
  padding: 64px 0;
}

.our-review-title {
  width: 240px;
  margin-bottom: 32px;
}

.reviews {
  position: relative;
  width: 100%;
}

.review {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h4 {
    color: $darkGrey;
    font-size: 22px;
  }

  p {
    margin: 0;
  }

  .review-stars {
    display: flex;
    gap: 4px;

    img {
      width: 12px;
    }
  }
}

.reviews-buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: .3s box-shadow ease-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 24px rgba(0, 0, 0, .15);
    }

    &.reviews-right {
      transform: rotate(180deg);
    }

    img {
      width: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .our-reviews {
    padding: 128px 0 64px 64px;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1050px) {
  .our-reviews {
    padding: 156px 0 128px;

    .container {
      display: grid;
      padding: 0 128px 0 156px;
      gap: 128px;
      grid-template-columns: repeat(2fr, 1fr);
    }
  }
}
