.home-services {
  display: grid;
  padding: 64px 0;
  background-color: $lightGrey;

  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  > .cta {
    margin: 64px auto 0;
  }
}

.home-services-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 280px;
    margin: 0 0 8px;
    text-align: center;
  }

  h5 {
    margin: 16px 0 4px;
    color: $darkGrey;
    font-size: 20px;
    font-weight: bolder;
  }
}

.home-services-item-img {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 12px 12px rgba(0, 0, 0, .15);
}

@media screen and (min-width: 768px) {
  .home-services {
    display: grid;
    padding: 64px 0;
    background-color: $lightGrey;
  
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;

      .home-services-title {
        align-self: center;
      }
    }

    > .cta {
      margin: 128px auto 0;
    }
  }

  .home-services-item {
    align-items: flex-start;

    p {
      max-width: 320px;
      text-align: left;
    }
  }
}
